<div class="enter-page">
<h1> Bookers 「本を通して繋がるSNS」 </h1>
<p>未来は断絶の向こう側にある。<br>だが未来は、それが現在といかに違ったものになるとしても、<br>現在からしか到達出来ない。</p>
<p>~ Peter F. Drucker ~</p>

<%= link_to "本の森へ", bookers_path, class: "back" %>
</div>